/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-block: 100px;
  font-family: var(--main-font);
  font-weight: var(--font-variation-text);
  color: var(--main-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--bg-color);
  inline-size: var(--width-conteiner);
  padding-block: clamp(7.625rem, 7.45rem + 0.75vw, 8.125rem);
  outline: var(--border);
  outline-offset: -2px;
  margin: 0 auto 100px;
}

.header__title {
  font-family: var(--accent-font);
  font-size: var(--font-h1-size);
  font-weight: var(--main-font-weight);
  text-transform: uppercase;
  vertical-align: bottom;
}

.header__subtitle {
  font-family: var(--accent-font);
  font-size: var(--font-h2-size);
  font-weight: var(--main-font-weight);
  text-transform: uppercase;
}

.content {
  margin: 0 auto;
  inline-size: var(--width-conteiner);
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.cards__list {
  list-style-type: none;
}

.card {
  background-color: var(--bg-color);
  border: var(--border);
 
  padding-block-end: 25px;
}

.card__title {
  font-family: var(--main-font);
  font-variation-settings: 'wght' 715;
  font-size: var(--font-h2-size-variable);
  padding: 5.5px 11px;
}

.card__image {
  position: relative;
  border-block-start: var(--border);
  border-block-end: var(--border);
 
}

.card__watermark {
  position: absolute;
  z-index: 1;
  top: 29px;
  right: 27px;
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight);
  font-style: normal;
  font-size: 14px;
  background-blend-mode: hard-light;
  line-height: 10px;
  text-transform: uppercase;
  text-shadow: var(--text-shadow-color);
  opacity: 0.5;
}

@supports (-webkit-text-stroke: 1px 0 #fff) {

  .card::before {
    -webkit-text-stroke: 1px 0 #fff;
  }
}

.card__image img {
  display: block;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: 97%;
  inline-size: 100%;
}

.image-grayscale {
  filter: grayscale(0.85);
}

.image-blur {
  filter: blur(8px);
}

.image-saturate {
  filter: saturate(300%);
}

.image-hue-rotate {
  filter: hue-rotate(30deg);
}

.image-fiter-mix {
  filter: hue-rotate(90deg) opacity(0.6) blur(1.5px);
}

.image-invert {
  filter: invert(0.75);
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 23px 27px;
}

.card__text {
  font-variation-settings: 'wght' 410;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
}

.button {
  position: relative;
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight);
  font-style: normal;
  font-size: 14px;
  line-height: 90%;
  background: var(--bg-color);
  color: #fff;
  overflow: hidden;
  box-shadow: 2px 2px rgb(0 0 0 / 0);
  border: solid 2px rgb(0 0 0 / 1);
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px rgb(0 0 0 / 1);
  transition: box-shadow 0.3s ease;
}

button span {
  mix-blend-mode: difference;
}

.button::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.card__button {
  display: flex;
  gap: 6px;
  justify-content: flex-end;
  margin: 0 27px;
}

.card__icon-button {
  background-color: #fff;
  border: none;
  padding: 0;
  outline: solid 2px rgb(0 0 0 / 0);
  outline-offset: -4px;
  transition: outline -0.3s ease;
}

.card__icon-button:focus-visible {
  outline: solid 2px rgb(0 0 0 / 1);
  transition: outline 0.3s ease;
}

.like-icon:hover {
  cursor: pointer;
}

.like-icon .sparks {
  opacity: 0;
  transition: opacity 0.3s ease-in -0.3s;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon:active .contour {
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transform-origin: center;
  animation: scale 0.3s ease-in 0.06s;
}

.like-icon .core {
  fill: var(--accent-color);
  opacity: 0;
  transition: opacity 0.3s linear 0.03s;
}

.like-icon:hover .core {
  opacity: 1;
  transition: opacity 0.3s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  opacity: 1;
  transition: opacity 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  opacity: 1;
  transform-origin: center;
  animation: scale 0.3s ease-in;
}

.like-icon .main-body {
  fill: var(--accent-color);
  opacity: 0;
  transition: opacity 0.3s linear;
}

.like-icon:hover .main-body {
  opacity: 1;
  transition: opacity 0.3s linear 0.05s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  opacity: 1;
  transform-origin: center;
  animation: scale 0.3s ease-in 0.05s;
}

.like-icon.is-liked .sparks {
  opacity: 0;
  animation: sparks 0.3s ease-in 0.3s;
}

.like-icon.is-liked:active .sparks {
  opacity: 0;
  animation: none;
}

.card__like-button {
  inline-size: 130px;
  padding: 11.5px 0;
}

.button__footer {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  inline-size: clamp(19.125rem, 18.49rem + 2.72vw, 20.9375rem);
  margin: 50px auto 0;
  padding: 16px 18px;
}

.button__footer .floppy {
  inline-size: clamp(1.3125rem, 1.9rem + -0.66vw, 1.75rem);
  block-size: clamp(1.3125rem, 1.9rem + -0.66vw, 1.75rem);
  mix-blend-mode: difference;
}

dialog {
  position: fixed;
  inset: 0;
  bottom: 239px;
  inline-size: 341px;
  padding: 29px 39px;
  border: var(--border);
}

dialog[open] {
  display: block;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}

form {
  position: relative;
}

.dialog__content {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-block-end: 30px;
}

.dialog-floppy {
  inline-size: 39px;
  overflow: visible;
}

.dialog__text {
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight);
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 150%;
}

.dialog__button {
  text-transform: uppercase;
  padding: 12.5px 116.5px;
  border: var(--border);
}